*.plt
*.dat
bin/astr
obj/astr.o
obj/bc.mod
obj/bc.o
obj/cmdefne.mod
obj/cmdefne.o
obj/commarray.mod
obj/commarray.o
obj/commcal.mod
obj/commcal.o
obj/commfunc.mod
obj/commfunc.o
obj/commtype.mod
obj/commtype.o
obj/commvar.mod
obj/commvar.o
obj/constdef.mod
obj/constdef.o
obj/fludyna.mod
obj/fludyna.o
obj/geom.mod
obj/geom.o
obj/gridgeneration.mod
obj/gridgeneration.o
obj/hdf5io.mod
obj/hdf5io.o
obj/initialisation.mod
obj/initialisation.o
obj/mainloop.mod
obj/mainloop.o
obj/models.mod
obj/models.o
obj/parallel.mod
obj/parallel.o
obj/pp.mod
obj/pp.o
obj/readwrite.mod
obj/readwrite.o
obj/singleton.mod
obj/singleton.o
obj/solver.mod
obj/solver.o
obj/statistic.mod
obj/statistic.o
obj/stlaio.mod
obj/stlaio.o
obj/tecio.mod
obj/tecio.o
solid_in.stl
tecsolid.plt
src/pp.F90
